

header{
    display: grid;
    grid-template-columns:  5% 1fr 1fr 1fr 1fr 5% ;
    
}

#navMenu{
    list-style: none;
    grid-column-start: 2;
    
    
    
    
}
#mainArea{
    display: inline;
}
